.navContainer {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  // overflow: hidden;
  font-family: Apercu;
  color: #090954;
  z-index: 9999999;
  top: 0;
  text-align: left;
  height: 80px;
  padding: 10px 10px;
  .logo {
    width: 50px;
    height: 50px;
  }

  .menus {
    cursor: pointer;
    font-family: Belvue;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    //margin-right: 20px;
    margin-left: 20px;
    height: 100%;

    &.active {
      border-bottom: 2px solid #bbd1ea;
      border-top: 2px solid #bbd1ea;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .cart_num_items {
    position: absolute;
    right: -5px;
    top: -1px;
    background: #7c0e0e;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 15px;

    &.mobile {
      right: 35px !important;
    }
  }

  .configurator_num_items {
    position: relative;

    bottom: 27px;
    background: #090954;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    left: 27px !important;

    &.mobile {
      left: 113px !important;
    }
  }
}

.navIcon {
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.borderRight {
  border-right: 1px solid #bfd1e8;
}

.borderBottom {
  border-bottom: 1px solid #bfd1e8;
}

.panelContainer {
  position: fixed;
  top: 60px;
  width: 100vw;
  background: #fcf4f0;
  padding: 0px 10px;
  z-index: 999999;

  .panel-div {
    cursor: pointer;
    padding: 20px 10px;
    height: 100%;
    min-height: 240px;
    div {
      font-family: Belvue;
    }
  }

  .panel-subs {
    margin: 20px 10px;
    padding: 20px;
    color: #090954;
    background: #ffffff;
    border-radius: 5px;
    height: 100%;
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;

    div {
      cursor: pointer;
      font-family: Belvue;
      font-size: 14px;
      line-height: 30px;
    }
  }

  .panel-image {
    width: calc(100% - 20px);
    max-width: 280px;
    border-radius: 5px;
    min-height: 160px;
    max-height: 160px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 7px;
  }

  .panel-text {
    font-family: Belvue;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
  }
}

.mobilePanelConatiner {
  top: 80px;
  min-height: calc(100vh - 80px);
  background: #ffffff;
  z-index: 999;
  display: block;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;

  .promotion-banner {
    min-height: 150px;
    height: 13vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .promotion-image {
      align-self: center;
      max-width: 101px;
      height: 49px;
      margin-left: -20%;
    }

    .btn-cta {
      // align-self: center;
      background-color: transparent;
      color: #090954;
      border-radius: 3px;
      height: 40px;
      text-transform: uppercase;
      border: 1px solid #090954;
      box-sizing: border-box;
      padding: 12px;
      max-width: 200px;
      margin-left: 20px;
      // margin-left: -30%;
    }
  }

  .menus {
    min-height: 60px;
  }

  .menus:first-child {
    border-top: 1px solid #bbd1ea;
  }

  .menus,
  .subMenus {
    width: 100%;
    cursor: pointer;
    padding: 20px;

    div {
      width: calc(100% - 10px);
      font-family: Belvue;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      color: #090954;
    }

    .openMore {
      width: 6px;
      height: 10px;
      margin-right: 10px;
    }

    &.active {
      color: #090954;
    }
    .panel-image {
      margin-right: 20px;
      min-height: 100px;
    }
  }
  .subMenus {
    div {
      width: calc(50% - 10px) !important;
    }
  }
}

.w-111 {
  width: 111px;
}

.cartAnchor {
  width: 40px !important;
  position: relative;
  height: 40px !important;
  margin-right: 10px;
}

.imgDiv {
  max-width: 280px;
  overflow: hidden;

  img {
    transition: transform 0.5s ease;
  }

  img:hover {
    transform: scale(1.2);
  }
}

.cart-container {
  top: 60px;
  position: fixed;
  float: right;
  z-index: 1000;
  background: #fbf4f1;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

@media only screen and (max-width: 660px) {
  .cart-container {
    width: 100vw;
  }

  .showMobile {
    display: block;
  }
  .showDesktop {
    display: none;
  }
}

@media only screen and (min-width: 661px) {
  .cart-container {
    width: 30vw;
    right: 0;
  }

  .showMobile {
    display: none;
  }
  .showDesktop {
    display: block;
  }
}

img.panel-image {
  max-width: 180px;
  margin-bottom: -5px;
  min-width: 180px;
  object-fit: cover;
}

.navRight {
  margin-left: 10px;
  position: relative;
}

//gt-sm Media Query
@media (min-width: 960px) {
  .navContainer {
    padding: 0px 20px;
  }
  .mobilePanelConatiner {
    width: 25%;
  }
}
