@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
// @import "~angular-material/modules/layouts/angular-material.layouts.css";
// @import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
// @import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import 'stylesConstants';
@import './icon.scss';
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-display: swap;
  font-family: BelweSansLight;
  src: url(https://files.y.jewelry/assets/fonts/BelweSans-Light.otf);
}

@font-face {
  font-display: swap;
  font-family: Apercu;
  src: url(https://files.y.jewelry/assets/fonts/Apercu.otf);
}

@font-face {
  font-display: swap;
  font-family: ApercuMedium;
  src: url(https://files.y.jewelry/assets/fonts/Apercu-Medium.otf);
}

@font-face {
  font-display: swap;
  font-family: ApercuLight;
  src: url(https://files.y.jewelry/assets/fonts/Apercu-Light.otf);
}
@font-face {
  font-display: swap;
  font-family: Belvue;
  src: url(https://files.y.jewelry/assets/fonts/BelweSans-Light.otf);
}
@font-face {
  font-display: swap;
  font-family: Seville;
  src: url(https://files.y.jewelry/assets/fonts/Seville+Script.otf);
}

body {
  // margin: 0;
  // padding: 0;
  // height: 100%;
  // color: #090954;
  // font-family: ApercuLight;
  // font-size: 14px;
  // line-height: 1.42857143;
  // background-color: $background-color-main;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}
