.container {
  .reviewBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .ratingStar {
      color: #090954;
    }
  }

  .testimonialText {
  }
}

.testimonialSlider {
  background-color: #ffffff;
}
