.thumbnail-title {
  text-transform: lowercase;
  font-family: BelweSansLight !important;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #090954;
}

.thumbnail-description {
  font-family: Apercu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #090954;
}
